name: CI

on:
  push:
    branches: [ main, develop ]
    paths-ignore:
    - '.github/**'
    - 'docs/**'
    - 'docsrc/**'
    - 'examples/**'
  pull_request:
    branches: [ main, develop ]
    paths-ignore:
    - '.github/**'
    - 'docs/**'
    - 'docsrc/**'
    - 'examples/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9, '3.10' ]

    defaults:
      run:
        working-directory: ./ansible_collections/willguibr/zpacloud

    steps:
      - uses: actions/checkout@v3
        with:
          path: ./ansible_collections/willguibr/zpacloud

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/checkout@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pipenv
        run: |
          pip install pipenv

      - name: Install dependencies
        # if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: |
          pipenv install --dev
      - name: Fix format
        run: |
          pipenv run make format
      - name: Check format
        run: |
          pipenv run make check-format
      - name: ansible-test sanity
        run: |
          pipenv run ansible-test sanity --python 3.8
      - name: ansible-galaxy collection build
        run: |
          pipenv run make build
  release:
    name: release
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Galaxy auth
        run: |
          mkdir -p ~/.ansible
          echo "token: $GALAXY_API_KEY" > ~/.ansible/galaxy_token
        env:
          GALAXY_API_KEY: ${{ secrets.GALAXY_API_KEY }}
        shell: bash

      - name: Adjust Permissions
        run: |
          chmod +x .github/set-version.sh
          chmod +x .github/do-release.sh

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Create release and publish
        uses: cycjimmy/semantic-release-action@v2
        id: release
        with:
          semantic_version: 18.0.0
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-eslint
            @semantic-release/commit-analyzer@8.0.1
            @semantic-release/release-notes-generator@9.0.3
            @semantic-release/changelog@5.0.1
            @semantic-release/github@7.2.3
            @semantic-release/git@9.0.0
            @semantic-release/exec@^5.0.0
          branches: |
            ['master']
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Store built collection
        uses: actions/upload-artifact@v3
        with:
          name: collection
          path: |
            *.tar.gz
  docs:
    name: docs
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [test]
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ansible_collections/willguibr/zpacloud

    steps:
      # Just a note here:  The Ansible stuff is apparently doing realpath
      # checks, so trying to simlink stuff and then run Ansible commends
      # such as ansible-test in the symlink directory fails.  Thus we need
      # to have the real path contain ansible_collections/willguibr/zpacloud.
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: ./ansible_collections/willguibr/zpacloud

      - name: Set up Python 3.8.10
        uses: actions/setup-python@v3
        with:
          python-version: 3.8.10

      - name: Install pipenv
        run: |
          pip install pipenv

      - name: Install dependencies
        # if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: |
          pipenv install --dev
      - name: Build the collection
        run:
          ansible-galaxy collection build

      # - name: Download built collection
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: collection

      - name: Install built collection
        run:
          ansible-galaxy collection install *.tar.gz

      - name: Generate documentation
        run: |
          pipenv run make docs
      # This is here for right now because the action to deploy seems to assume
      # (and not have a configuration option to) mirror the actions/checkout@v3
      # the with.path spec.
      - name: Move the repo to where the deploy action is looking for it
        run: |
          cd ../../../..
          mv zpacloud-ansible the_repo
          mv the_repo/ansible_collections/willguibr/zpacloud zpacloud-ansible
          mkdir -p zpacloud-ansible/ansible_collections/willguibr/zpacloud
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: docs/html
          clean: true